.card {
  background: #424242;
  color: white;
  height: 54vh;

  :host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
  }

  .back-button {
    background: #b3b3b3;
    border-radius: 0 0 6px;
    min-width: 50px;
    min-height: 40px;
    padding: 0 0 !important;
    color: white;
  }

  th.mat-header-cell, td.mat-cell {
    text-align: center;
  }

  .mat-tab-body-wrapper{
    flex-grow: 1;
  }

  .element {
    width: 90%;
    padding: 4px 8px;
    background: #b3b3b36b;
    border-radius: 3px;
  }

  mat-card-content {
    height: 80%;
    overflow-y: overlay;

    tr.mat-header-row {
      height: 30px;
    }

    .mat-column-state {
      flex: 0 0 30%;
      min-width: 200px;
    }

    .color-header {
      height: 16px;
      width: 17px;
      background: #959595;
      text-align: center;
      border-radius: 50%;
      color: white;
      padding-bottom: 18px;
    }
  }

  mat-card-actions {
    border-top: 1px solid #595959;
  }
}







