#page-container {
  position: relative;
  min-height: 100vh;
  background-color: #1b2531;
}

#content-wrap {
  header {
    height: 70px;
    line-height: 70px;
    padding: 0;
    background-color: #283142;

    span {
      color: #FFF;
      font-weight: bolder;
      font-size: 30px;
      margin-left: 15px;
    }
  }

  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
